.level{
    position: relative;
}
.modal{
    display: none;
    padding: 1rem;
    background: white;
    /* position: relative; */
    /* display: flex; */
    left:65%;
    top: 48px;
    width: 300px;
    height: 300px;
    
}
html {
    position: relative;
    height: 100%;

}
.has-background-info {
    height: 100%;
}
/* .title {
font-size: 20px;
color: #6b808c;
display: inline-block;
line-height: 40px;
border-bottom: 1px solid rgba(9,45,66,.13);
margin: 0 12px;
padding: 0 32px;
position: relative;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.createBoard:hover {
background-color: #209cee;
/* color: white; */
/* } */
/* .boardBox {
    position: fixed;
    background-color: white;
    width: 300px;
    top:25%;
    right:50%;
    height:100px;

} */
.list {
background-color: rgba(0,0,0,.12);
cursor: pointer;
color: #fff;
border-radius: 3px;
height: auto;
min-height: 32px;
padding: 4px;
width: 272px;
margin-right: 4px;
margin-left: 8px;
box-sizing: border-box;
display: inline-block;
vertical-align: top;
white-space: nowrap;
}

input{
    /* width:80%; */
    margin-top: 5px;
    height: 30px;
    display: block;
    border: 2px solid #3273dc;
    border-radius: 4px;
    padding: 5px;
    /* margin-left: 0; */
    /* margin-right: auto; */

}
.addButton {
  background-color:green;
  color: white;
  border:none;
  border-radius: 2px;
  padding: 8px 10px;
  margin-right: 10px;
}
.containerBox{
    margin:2px;
    display: flex;
    align-items: center;
}
.closeButton{
    font-size: 30px;
    color: #6e89b3;
}
.listtitle{
    font-weight: bold;
    color: #17394d;
    display: block;
}
.createCard:hover {
        background-color: rgba(9,45,66,.13);
        color: #17394d;
        text-decoration: underline;
    
}
.card{
    display: block;
    border: none;
    outline: none;
    resize: none;
    width: 256px;
    /* background: none; */
/* border: none; */
  box-shadow: none;
margin-bottom: 4px;
max-height: 162px;
min-height: 54px;
overflow-y: auto;
padding: 0;
}
.createCard{
    display: block;
}

.cardholder{
    /* background: white; */
    width:256px;
    background: #ffffff;
    margin-bottom: 

}

