<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Trillo Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../static/index.css">
    </link>

</head>

<body class="has-background-info">
    <nav class="level has-background-link">
        <a href="#" class="level-left has-text-white">
            <span class="icon is-small">
                <i class="fas fa-home" aria-hidden="true"></i>
            </span>
        </a>
        <div class="level-item has-text-centered is-size-3 has-text-white">
            <h1>Trillo</h1>
        </div>
        <div class="level-right" id="button"><a class="button is-success">+</a></div>
        <!-- <p class="level-item">+</p> -->
        </div>
    </nav>
    <!-- <button class="is-link" id="button">link</button> -->
    <!-- <div class="modal" id="page-modal">
        <div class="modal-container" id="close">
            <span class="title">Create
            </span>
        <span class="close-button">&times;</span>
        </div>
        <div class="createBoard">
          <a href="#" id="board"> Create Board...</a>
          <a href="#">Create Team...</a>  
        </div>
        <div id="title-div">

        </div>

    </div> -->
  <div class="list" id="listbox">
      <span id="placeholder">+ Add another list</span>

  </div>
<script src="../static/index.js"></script>
</body>

</html>