<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trillo Board</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='trello.css') }}"> -->
        <link rel="stylesheet" href="../static/trello.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Trello</h1>
                <div class="plus"><a>+</a></div>
            </div>
            <div class="list" id="listbox">
              <div id="titleparent">
                    <input type="text" id="inputForList" placeholder="Enter list title...">
                    <div class="containerBox">
                        <button id="addButton">Add list</button>
                        <span id="closeButton">&times;</span>
                    </div>
              </div>
            </div>
            <div class="updateTask" id="mod">
                <div class="task-editor">
                </div>
            </div>
        </div>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='trello.js') }}"></script> -->
        <script src="../static/trello.js"></script>
    </body>
</html>